<div id="warning-container">
  <div class="browser-warning">
    <div class="warning-title"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Ohjelmointikurssi ei toimi kunnolla selaimessasi.</div>
    <div>
      Ohjelmointikurssi ei valitettavasti toimi Internet Explorer -selailemella. Suosittelemme että teet kurssia joko uusimmalla Chromella tai uusimalla Firefoxilla.
    </div>
  </div>
</div>
