<div class="next-chapter">
  <div>
    <i class="fa fa-arrow-right fa-5x" aria-hidden="true"></i>
  </div>
  <div>
    <div>Valmis?</div>
    <div>Jatka seuraavaksi</div>
    <div><%= link %>.</div>
  </div>
</div>
