<div class="next-chapter">
  <div>
    <i class="fa fa-arrow-right fa-5x" aria-hidden="true"></i>
  </div>
  <div>
    <div>Valmis?</div>
    <div>Jatka seuraavaksi</div>
    <div><%= link_to(name, target, onclick: "ga('send', 'event', 'next_topic_link', 'click', '#{target}')") %>.</div>
  </div>
</div>
