---
title: Ehdot
exercise_page: true
order: 5
---
<h1>Ehdot</h1>

<div class="chapter">
  <h2>If-ehtolause</h2>

  <p>
    Usein halutaan, että ohjelman sisäinen tila vaikuttaa ohjelman suoritukseen. Voitaisiin esimerkiksi haluta, että ohjelma tulostaa erilaisen tulosteen riippuen jonkin muuttujan arvosta. Esimerkiksi alla oleva ohjelma tulostaa eri tekstin riippuen muuttujan ika arvosta. Jos ikä on alle 18, suoritetaan aaltosulkeiden sisällä eli if-lohkossa oleva koodi.
  </p>

  <pre><code class="javascript">var ika = 14
if (ika < 18) {
  console.log("Olet alaikäinen!")
}</code></pre>

  <p>
    Koodin ehdollinen suoritus onnistuu <code>if</code>-avainsanan avulla. If-ehtolauseen rakenne on <code> if ( ehto ) { koodi, joka suoritetaan ehdon ollessa tosi }</code>. Eli if-avainsanan jälkeen laitetaan jonkin ehto, jonka totuutta tarkastellaan ja sen jälkeen kirjoitetaan aaltosulkuihin koodi, joka tulee suorittaa ehdon ollesssa tosi. If-ehtolauseen jälkeen voi halutessaan kirjoittaa perään else-lohkon kuten yllä olevassa esimerkissä. Else-lohko suoritetaan siinä tapauksessa, että ehto ei ole tosi.
  </p>

  <h2>Ehdot</h2>

  <p>
    Jotta voimme käyttää edellä esiteltyjä ehtolauseita, meidän täytyy osata kirjoittaa joitain ehtoja niille. Eräs yksinkertainen ehto on yhtäsuuruden vertailu. Se onnistuu merkinnällä <code>==</code>. Ehtolauseen <code>if (muuttuja == toinenMuuttuja ) { koodi }</code> koodi suoritetaan, jos <code>muuttuja</code> ja <code>toinenMuuttuja</code> sisältävät saman arvon.
  </p>

  <p>
    Luvuilla voimme yhtäsuuruuden lisäksi tarkastella niiden suuruuksia. Voimme esimerkiksi tarkistaa, onko luku pienempi tai suurempi kuin toinen luku. Suuruuden vertailu onnisttuu operaattoreilla <code><</code>, <code>></code>, <code><=</code> ja <code>>=</code>. Operaattorit <code><</code> ja <code>></code> eivät ota yhtäsuuruutta huomioon kun taas operaattorit <code><=</code> ja <code>>=</code> ottavat.
  </p>

  <h2>Esimerkkejä ehdoista</h2>
  <div class="multiple-columns">
    <div>
      Seuraavat ehdot ovat totta:
      <ul>
        <li>2 < 1</li>
        <li>2 <= 2</li>
        <li>7 > 5</li>
        <li>7 >= 5</li>
      </ul>
    </div>

    <div>
      Seuraavat ehdot eivät ole totta:
      <ul>
        <li>3 < 2</li>
        <li>3 <= 2</li>
        <li>1 > 2</li>
        <li>1 >= 2</li>
      </ul>
    </div>
  </div>

  <p>Seuraavassa koodinpätkässä ehto on totta, joten vain if-lohkon sisällä oleva koodi suoritetaan:</p>

  <pre><code class="javascript">var luku = 8
var toinenLuku = 7
if (luku >= toinenLuku) {
  // If-lohko, joka suoritetaan
}</code></pre>

  <p>Seuraavassa koodinpätkässä ehto on epätosi ja vain else:n sisällä oleva koodi suoritetaan:</p>

  <pre><code class="javascript">var luku = 6
var toinenLuku = 7
if (luku >= toinenLuku) {
  // If-lohko, jota ei suoriteta
}</code></pre>

<% partial 'partials/exercise', locals: { name: 'Ehtojen harjoittelua', additional_content: '<strong>Odotettu vastaus</strong>: Ohjelma tulostaa "Totta".' } do %>
  Muuta muuttujan <code>a</code> arvoa niin, että tehtävässä oleva ehto on totta.
<% end %>

  <div data-type='tmc-exercise' data-id='20924'></div>

  <% partial 'partials/exercise', locals: { name: 'Oma ehto', additional_content: '<strong>Odotettu vastaus</strong>: Ohjelma tulostaa "Totta".' } do %>
    Käytä kahta lukua ja tee totta oleva ehto. Kirjoita ehtosi sanan <code>false</code> tilalle.
  <% end %>

  <div data-type='tmc-exercise' data-id='20926'></div>
</div>
<div class="chapter">
  <h2>Vastakkainen ehto</h2>

  <p>
    Ehtolauseet ovat hyödyllisiä, mutta useita ohjelmia yksinkertaistaisi jos voisimme suorittaa koodia tapauksessa, jossa ehto ei ollut tosi. Yksi tapa tehdä tämä on tehdä päinvastainen ehto ensimmäisen ehdon jälkeen. Esimerkiksi jos ensimmäinen ehto olisi <code>if ( x > 3)</code> ehto <code>if ( x <= 3)</code> suoritetaan aina, kun ensimmäinen ei ole totta.
  </p>

  <% partial 'partials/exercise', locals: { name: 'Vastakkainen ehto' } do %>
    Alla olevassa tehtävässä on ehto. Kirjoita toinen ehto sanan <code>false</code> tilalle, joka on totta aina kun ensimmäinen ehto ei ole totta.
  <% end %>

  <div data-type='tmc-exercise' data-id='20927'></div>

  <h2>Else</h2>

  <p>
    Vastakkaisen ehdon kirjoittaminen toimii, mutta niiden kirjoittaminen on työlästä. Helpompaa olisi, jos meillä olisi tapa ilmaista että haluamme suorittaa tiettyä koodia, kun ehto ei ole totta.
  </p>

  <p>
    Tälläisiä tilanteita varten on olemassa <code>else</code>-lohko. Se liitetään if-lohkon perään ja suoritetaan kun if-lauseen ehto ei ole totta. Alla oleva esimerkissä suortitettaisiin vain alempi <code>else</code>-lohko ja ohjelma tulostaisi "Olet täysi-ikäinen!".
  </p>

  <pre><code class="javascript">var ika = 18
if (ika < 18) {
  console.log("Olet alaikäinen!")
} else {
  console.log("Olet täysi-ikäinen!")
}</code></pre>

  <% partial 'partials/exercise', locals: { name: 'Else' } do %>
    Alla olevassa tehtävässä on ehto. Lisää siihen else-haara ja tulosta siellä jotakin.
  <% end %>

  <div data-type='tmc-exercise' data-id='20925'></div>
</div>

<%= partial 'partials/next_chapter', locals: { link: link_to('piirtämiseen', 'piirtaminen.html') } %>
