---
title: Funktiot
exercise_page: true
---
<h1>Funktiot</h1>
<div class="chapter">
  <h2>Funktiot</h2>

  <p>
    Yllä olevassa materiaalissa kaikki koodi suoritettiin heti, kun suoritus osuu koodin kohdalle. Haluamme kuitenkin usein siirtää koodin suoritusta tulevaisuuteen johonkin tiettyyn tapahtumaan. Tätä varten on olemassa funktiot. Funktioilla määritellään ohjelmakoodia, joka suoritetaan myöhemmin.
  </p>

  <p>
    Funktio määritellään kirjoittamalla <code>function funktionNimi() { koodi }</code>. Esimerkiksi voitaisiin määritellä funktio, joka tulostaa tervehdyksen.
  </p>
    <pre><code class="javascript">function tervehdi() {
  console.log("Terve!");
}</code></pre>

  <h3>Funktion kutsuminen</h3>


  <p>
    Kun haluamme suorittaa aikaisemmin määritellyn funktion, joudumme kutsumaan sitä. Kutsuminen onnistuu koodilla: <code>kutsutavanFunktionNimi();</code>. Esimerkiksi yllä olevaa tervehdys-funktiota kutsuttaisiin kirjoittamalla <code>tervehdi();</code>. Funktion kutsuminen suorittaa sen sisällä määritellyn koodin. Esimerkiksi alla oleva koodi tulostaisi "Terve!".
  </p>

  <pre><code class="javascript">tervehdi();</code></pre>

  <p>
    Funktiolla voi näppärästi vähentää ylimääräistä kirjoittamista. Jokaista määritettyä funktiota voidaan kutsua niin monta kertaa kuin haluamme. Jos esimerkikis kutsimme <code>tervehdi</code>-funktiota kaksi kertaa, tulostuu "Terve!" myös kahdesti.
  </p>

  <p>
    Tehtävä: Kokeillaan kutsua funktiota monta kertaa. Alla olevassa tehtävässä on määritetty ja kutsuttu funktiota <i>kerran</i>. Muuta ohjelmaa siten, että funktiota kutsutaan <i>viisi</i> kertaa.
  </p>

  <div data-type='tmc-exercise' data-id='2826'></div>

  <p>
    Tehtävä: Alla on määritelty funktio. Kutsu sitä.
  </p>
  <div data-type='tmc-exercise' data-id='2792'></div>
</div>
