---
  title: Ohjelmointikurssi
---

<p>
  Tervetuloa ohjelmointikurssille. Tällä kurssilla opetellaan tekemään yksinkertainen peli <i>Javascript</i>-ohjelmointikielellä. Tehtävät ovat jaettu kolmeen tehtäväsarjaan. Valitse sarja ylhäältä ja ala ohjelmoimaan!
</p>
