---
title: Listat
exercise_page: true
order: 3
---
<h1>Listat</h1>

<div class="chapter">
  <p>
    Lista on objekti, joka voi sisältää useita useita eri objekteja. Tyhjä lista luodaan merkinnällä <code>var lista = []</code>. Listan sisällä voi olla muita objekteja. Merkintä <code>var lista = [1, 2, 3, 4]</code> luo uuden listan, jonka sisällä on numerot 1, 2, 3 ja 4. Listoihin voi laittaan kaikentyyppisiä objekteja, kuten vaikka sanoja. Koodi <code>var lista = ["JavaScript", "Ohjelmointi"]</code> luo listan, jonka sisällä on merkkjonot <code>"JavaScript"</code> ja <code>"Ohjelmointi"</code>.
  </p>

  <p>
    Listaan voi myös laittaa muiden objektien arvoja. Koodi:
  </p>

  <pre><code class="javascript">var a = 1
var b = 3
var c = "kissa"
var lista = [a, b, c]</code></pre>

  <p>
    luo uuden taulukon, jonka sisältö on 1, 3 ja kissa. Voimme merkitä tälläistä listaa merkinnällä <code>[1, 3, "kissa"]</code>.
  </p>

  <% partial 'partials/exercise', locals: { name: 'Listaan sijoittaminen' } do %>
    Alla olevassa tehtäväpohjassa on luotu muuttujat <code>numero</code> ja <code>sana</code>. Lisäksi tehtäväpohjassa on alustettu tyhjä lista, joka tulostetaan. Aseta muuttujat listaan <code>hauskaLista</code> niin, että listan sisällöksi tulee: <code>["Papukaija", 22]</code>.
  <% end %>

  <div class="code-area" data-type='tmc-exercise' data-id='5045'></div>

  <p>
    Listoihin ei tarvitse sijoittaa muuttujia. Voit myös kirjoittaa listan sisällön suoraan listan määrittelyn sisään.
  </p>

  <pre><code class="javascript">var lista = [1, 3, "kissa"]</code></pre>

  <% partial 'partials/exercise', locals: { name: 'Listojen harjoittelua' } do %>
    Muuta alla olevaa tehtäväpohjaa siten, että muuttujan <code>lista</code> sisältö on <code>[1, 2, "listat", "ovat", "hauskoja!"]</code>.
  <% end %>

  <div class="code-area" data-type='tmc-exercise' data-id='4996'></div>

  <% partial 'partials/exercise', locals: { name: 'Uuden listan luonti' } do %>
    Tehtäväpohjassa yritetään tulostaa lista nimeltä <code>uusiLista</code>. Luo lista ja laita sen sisällöksi kolme valitsemaasi numeroa.
  <% end %>

  <div class="code-area" data-type='tmc-exercise' data-id='5046'></div>

  <% partial 'partials/exercise', locals: { name: 'Usean listan luonti' } do %>
    Luo kaksi listaa: listassa <code>ruuat</code> listaat lempiruokasi ja listassa <code>varit</code> on lista lempiväreistäsi.
  <% end %>

  <div class="code-area" data-type='tmc-exercise' data-id='5047'></div>

  <p>
    Listojen luonti sujuu melko näppärästi, mutta usein ohjelmoinnissa haluamme muokata listoja jotenkin. Olisi hyvä jos voisimme lisätä alkioita listaan, ottaa niitä pois ja niin edelleen.
  </p>

  <h2>Listan loppuun lisääminen</h2>

  <p>
    Olemassa olevan listan loppuun voidaan lisätä uusi alkio komennolla <code>lista.push(lisättävä_alkio)</code>. Jos haluamme vaikka lisätä listaan numeron 3, se onnistuu koodilla: <code>lista.push(3)</code>. Alla olevan koodin suorituksen jälkeen listan sisältö on <code>[3, 7, 4]</code>:
  </p>

      <pre><code class="javascript">var lista = [3]
lista.push(7)
lista.push(4)</code></pre>

  <% partial 'partials/exercise', locals: { name: 'Listan loppuun lisääminen' } do %>
    Tehtävä: Alla olevassa tehtäväpohjassa on luotu lista, jonka sisältö on 4. Lisää listan loppuun alkioita niin, että listan sisällöksi tulee 4, 5, 6.
  <% end %>

  <div data-type='tmc-exercise' data-id='4993'></div>

  <% partial 'partials/exercise', locals: { name: 'Vaiheittainen loppuun lisääminen' } do %>
    Tehtäväpohjassa on luotu lista <code>numerot</code>. Tehtävä on jaettu useampaan alueeseen. Lisää listaan alkioita kommenttejen perusteella.
  <% end %>

  <div data-type='tmc-exercise' data-id='5048'></div>


  <h2>Listan alkuun lisääminen</h2>

  <p>
    Nyt pystymme luomaan listoja ja lisäämään niiden loppuun alkioita. Valitettavasti kuitenkin tämä ei aina riitä. Tietyissä tilanteissa voitaisiin haluta lisätä alkioita listan alkuun. Javascriptissä on onneksi ratkaisu tähän ongelmaan. Koodi <code>lista.unshift(lisättävä_alkio)</code> tomii samalla tavalla kuin <code>lista.push</code>, mutta se lisää alkioita listan alkuun eikä loppuun. Alla oleva koodi luo listan, jonka sisältö on [9, 5, 1].
  </p>

    <pre><code class="javascript">var lista = [1]
lista.unshift(5)
lista.unshift(9)</code></pre>

  <% partial 'partials/exercise', locals: { name: 'Listan alkuun lisääminen' } do %>
    Tehtävä: Alla olevassa tehtäväpohjassa on luotu lista, jonka sisältö on 4. Lisää listan alkuun alkioita niin, että listan sisällöksi tulee 2, 3, 4.
  <% end %>


  <div data-type='tmc-exercise' data-id='4992'></div>

  <% partial 'partials/exercise', locals: { name: 'Vaiheittainen alkuun lisääminen' } do %>
    Tehtäväpohjassa on luotu lista <code>numerot</code>. Tehtävä on jaettu useampaan alueeseen. Lisää listaan alkioita kommenttejen perusteella.
  <% end %>

  <div data-type='tmc-exercise' data-id='5049'></div>

  <% partial 'partials/exercise', locals: { name: 'Loppuun ja alkuun lisääminen' } do %>
    Tehtäväpohjassa on luotu lista <code>numerot</code>. Tehtävä on jaettu useampaan alueeseen. Lisää listaan alkioita kommenttejen perusteella.
  <% end %>

  <div data-type='tmc-exercise' data-id='5050'></div>

  <h2>Listasta poistaminen</h2>

  <p>
    Voimme myös haluta poistaa listasta alkioita. Kuten varmaan jo edellisistä tehtävistä arvasitkin, voimme poistaa alkioita joko listan alusta tai listan lopusta. Koodi <code>lista.pop()</code> poistaa elementin listan lopusta ja koodi <code>lista.shift()</code> poistaa listan ensimmäisen alkion.
  </p>

  <% partial 'partials/exercise', locals: { name: 'Listasta poistaminen' } do %>
    Tehtävä: Poista listan alusta kaksi elementtiä ja lopusta yksi elementti. Mitä tulee tulokseksi?
  <% end %>

  <div data-type='tmc-exercise' data-id='4995'></div>

  <% partial 'partials/exercise', locals: { name: 'Vaiheittainen poistaminen' } do %>
    Tehtäväpohjassa on luotu lista <code>numerot</code>. Poista listasta alkioita kommenttejen perusteella.
  <% end %>

  <div data-type='tmc-exercise' data-id='5051'></div>

  <h2>Listan pituus</h2>

  <p>
    Listan pituus on luku, joka kertoo montako asiaa lista sisältää. Esimerkiksi listan <code class="javascript">[1, 3, 4]</code> pituus on 3. Kun lisäämme tai poistamme listasta alkioita listan pituus luonnollisesti muuttuu.
  </p>

  <p>
    Ohjelmassa listan pituuden saa kirjoittamalla <code>lista.length</code>, missä lista on haluamamme lista. Tämän arvon voi esimerkiksi tulostaa, käytää laskutoimituksissa ja niin edelleen. Alla olevassa esimerkissä tulostetaan listan pituus joka on 4.
  </p>

  <pre><code class="javascript">var eeppinenLista = [1, 3, 4, 5]
console.log(eeppinenLista.length)
</code></pre>

  <% partial 'partials/exercise', locals: { name: 'Listan pituus', additional_content: '<strong>Odotettu vastaus</strong>: Ohjelma tulostaa listan pituuden, mikä on <i>yksi</i> numero. Esimerkiksi koko listan tulostaminen ei kelpaa.' } do %>
    Tehtäväpohjassa on valmiina lista. Tulosta sen pituus materiaalissa opetetulla tavalla.
  <% end %>

  <div data-type='tmc-exercise' data-id='4994'></div>

  <% partial 'partials/exercise', locals: { name: 'Jalokivikokoelma', additional_content: '<strong>Odotettu vastaus</strong>: Ohjelma tulostaa ostettettavien jalokivien määrän, mikä on <i>yksi</i> numero.'  } do %>
    Joukko kavereita haluaa ostaa jalokivikokoelman. Kaikkien kavereiden nimet ovat talletettu listaan <code>nimet</code>. Jokaiselle listassa olevalle kaverille ostetaan kaikki listassa <code>jalokivet</code> olevat jalokivet. Tulosta kuinka paljon jalokiviä ostetaan yhteensä.
  <% end %>

  <div data-type='tmc-exercise' data-id='4991'></div>
</div>

<%= partial 'partials/next_chapter', locals: { link: link_to('funktioihin', 'funktiot.html') } %>
