---
title: Listat
exercise_page: true
---

<div class="chapter">
  <h1>Listat</h1>
  <h2>Listat</h2>

  <p>
    Lista on objekti, joka voi sisältää useita useita eri objekteja. Tyhjä lista luodaan merkinnällä <code>var lista = [];</code>. Listan sisällä voi olla muita objekteja. Merkintä <code>var lista = [1, 2, 3, 4];</code> luo uuden listan, jonka sisällä on numerot 1, 2, 3 ja 4. Listoihin voi laittaan kaikentyyppisiä objekteja, kuten vaikka sanoja. Koodi <code>var lista = ["JavaScript", "Ohjelmointi"];</code> luo listan, jonka sisällä on merkkjonot <code>"JavaScript"</code> ja <code>"Ohjelmointi"</code>.
  </p>

  <p>
    Listaan voi myös laittaa muiden objektien arvoja. Koodi:
  </p>

  <pre><code class="javascript">var a = 1;
var b = 3;
var c = "kissa";
var lista = [a, b, c];</code></pre>
    <p>
      luo uuden taulukon, jonka sisältö on 1, 3 ja kissa. Voimme merkitä tälläistä listaa merkinnällä <code>[1, 3, "kissa"]</code>.
    </p>

    <% partial 'partials/exercise', locals: { name: 'Listojen harjoittelua' } do %>
      Muuta alla olevaa tehtäväpohjaa siten, että muuttujan <code>lista</code> sisältö on <code>[1, 2, "listat", "ovat", "hauskoja!"]</code>;
    <% end %>

    <div class="code-area" data-type='tmc-exercise' data-id='2781'></div>

  <p>
    Listojen luonti sujuu melko näppärästi, mutta usein ohjelmoinnissa haluamme muokata listoja jotenkin. Olisi hyvä jos voisimme lisätä alkioita listaan, ottaa niitä pois ja niin edelleen.
  </p>

  <h3>Listan loppuun lisääminen</h3>

  <p>
    Olemassa olevan listan loppuun voidaan lisätä uusi alkio komennolla <code>lista.push(lisättävä_alkio);</code>. Jos haluamme vaikka lisätä listaan numeron 3, se onnistuu koodilla: <code>lista.push(3);</code>. Alla olevan koodin suorituksen jälkeen listan sisältö on <code>[3, 7, 4]</code>:
    <p>

      <pre><code class="javascript">var lista = [3];
lista.push(7); // Listan sisältö on nyt [3, 7]
lista.push(4); // Listan sisältö on nyt [3, 7, 4]</code></pre>

  <% partial 'partials/exercise', locals: { name: 'Listan loppuun lisääminen' } do %>
    Tehtävä: Alla olevassa tehtäväpohjassa on luotu lista, jonka sisältö on 4. Lisää listan loppuun alkiota niin, että listan sisällöksi tulee 4, 5, 6.
  <% end %>

      <div data-type='tmc-exercise' data-id='2794'></div>

      <h3>Listan alkuun lisääminen</h3>

      <p>
        Nyt pystymme luomaan listoja ja lisäämään niiden loppuun alkiota. Valitettavasti kuitenkin tämä ei aina riitä. Tietyissä tilanteissa voitaisiin haluta lisätä alkioita listan alkuun. Javascriptissä on onneksi ratkaisu tähän ongelmaan. Koodi <code>lista.unshift(lisättävä_alkio)</code> tomii samalla tavalla kuin <code>lista.push</code>, mutta se lisää alkiota listan alkuun eikä loppuun. Alla oleva koodi luo listan, jonka sisältö on [9, 5, 1].
      </p>

      <pre><code class="javascript">var lista = [1];
lista.unshift(5); // Listan sisältö on nyt [5, 1]
lista.unshift(9); // Listan sisältö on nyt [9, 5, 1]</code></pre>

<% partial 'partials/exercise', locals: { name: 'Listan alkuun lisääminen' } do %>
  Tehtävä: Alla olevassa tehtäväpohjassa on luotu lista, jonka sisältö on 4. Lisää listan alkuun alkiota niin, että listan sisällöksi tulee 2, 3, 4.
<% end %>


      <div data-type='tmc-exercise' data-id='2793'></div>

      <h3>Listasta poistaminen</h3>

      <p>
        Voimme myös haluta poistaa listasta alkiota. Kuten varmaan jo edellisistä tehtävistä arvasitkin, voimme poistaa alkiota joko listan alusta tai listan lopusta. Koodi <code>lista.pop()</code> poistaa elementin listan lopusta ja koodi <code>lista.shift()</code> poistaa listan ensimmäisen alkion.
      </p>

      <% partial 'partials/exercise', locals: { name: 'Listasta poistaminen' } do %>
        Tehtävä: Poista listan alusta kaksi elementtiä ja lopusta yksi elementti. Mikä tulee tulokseksi?
      <% end %>

      <div data-type='tmc-exercise' data-id='2795'></div>
    </div>
