---
title: Muuttujat
exercise_page: true
order: 2
---

<h1>Muuttujat</h1>

<div class="chapter">
  <p>
    Muuttujia käytetään tiedon tallentamiseen. Niitä tarvitaan silloin, kun tietoa halutaan käsitellä useammassa kohdassa ohjelmaa. Ohjelma voi esimerkiksi aluksi arpoa käyttäjälle nimen, jota käytetään osana ohjelmaan liittyvää tarinaa.
  </p>

  <h2>Merkkijonomuuttujat</h2>

  <p>
    Edellisessä osiossa tulostettiin kaikenlaisia lauseita ja kuviota. Tulostuskomennolle piti antaa tulostettava asia lainausmerkeissä, jotta tietokone ymmärtäisi asian olevan merkkijono. Merkkijonoja voidaan tallettaa muuttujiin.
  </p>

  <p>
    Jokaisella muuttujalla tulee olla nimi, ja muuttujaa luodessa nimeen liitetään sisältö eli muuttujan arvo. Nimeksi voi valita melkein minkä tahansa sanan.
  </p>

  <p>
    Merkkijonomuuttujat luodaan kirjoittamalla: <code>var muuttujanNimi = "Muuttujan sisältö"</code>. Kirjoitimme muuttujan sisällön lainausmerkkeihin, koska halusimme tietokoneen ymmärtävän sen olevan merkkijono. Kun olemme luoneet muuttujan, voimme käyttää sitä kirjoittamalla muuttujan nimen esimerkiksi tulostuskomennon sisään.
  </p>

  <pre><code class="javascript">var nokkelastiNimettyMuuttuja = "Olen nokkelasti nimetty muuttuja!"
console.log(nokkelastiNimettyMuuttuja)</code></pre>

  <p>
    Yllä olevassa koodinpätkässä loimme muuttujan nimeltä <code>nokkelastiNimettyMuuttuja</code> ja tulostimme sen. Emme laittaneet tulostuskomennon sisään lainausmerkkejä, koska halusimme kertoa tietokoneelle, että tulostettava asia on muuttuja. Esimerkki tulostaa: <code>Olen nokkelasti nimetty muuttuja!</code>
  </p>

  <% partial 'partials/hint' do %>
    Osa tehtävien koodista on lukittu. Voit muokata vain vapaita alueita. Lukituissa alueissa on harmaa tausta ja lukitsemattomassa on valkoinen tausta.
  <% end %>

  <% partial 'partials/exercise', locals: { name: 'Muuttujan arvon vaihtaminen' } do %>
    Alla olevassa tehtäväpohjassa on luotu muuttuja nimeltä <code>salainenViesti</code>, joka luonnin jälkeen tulostetaan. Valitettavasti kuitenkin viesti on väärä. Muuta tehtävää siten, että viestiksi tulee: <code>Ave Caesar!</code>.
  <% end %>

  <div data-type='tmc-exercise' data-id='5034'></div>

  <h2>Tuntemattomat muuttujat</h2>

  <p>
    Jos ohjelmassa yritetään käyttää muuttujaa, jota ei ole ennen käyttöyritystä luotu, ohjelma ei tiedä mitä muuttujalla pitäisi tehdä. Tämä johtuu siitä, että tietokone ei voi käyttää muuttujia, joita ei ole vielä nimetty. Tällöin tietokone keskeyttää ohjelman suorituksen. Jos yritetään tulostaa mitä tahansa muuttujaa, jota ei ole luotu:
  </p>

  <pre><code class="javascript">console.log(muuttujaJotaEiOleLuotu)</code></pre>
  <p>
    Tietokone antaa meille virheen: <code>ReferenceError: muuttujaJotaEiOleLuotu is not defined</code>. Tämä on tietokonen tapa sanoa, että ohjelmassa yritettiin käyttää muuttujaa nimeltä: <code>muuttujaJotaEiOleLuotu</code>, ja tietokone ei tunne tämän nimistä muuttujaa. Virheen voi korjata luomalla oikean nimisen muuttujan ennen sen käyttämistä.
  </p>


  <pre><code class="javascript">var muuttujaJotaEiOleLuotu = "onpas!"
console.log(muuttujaJotaEiOleLuotu)</code></pre>


  <% partial 'partials/exercise', locals: { name: 'Väärin nimetty muuttuja' } do %>
    Alla olevassa tehtäväpohjassa yritetään tulostaa muuttuja nimeltä <code>tulostettavaMuuttuja</code>, mutta se ei onnistu koska muuttujan luonnissa muuttujan nimeen on tullut kirjoitusvirhe. Korjaa muuttujan nimi siten, että koodi toimii.
  <% end %>

  <div data-type='tmc-exercise' data-id='5036'></div>

  <% partial 'partials/exercise', locals: { name: 'Muuttujan luonti', additional_content: '<strong>Odotettu vastaus:</strong> Näytölle tulostuu etunimesi.' } do %>
    Tehtäväpohjassa on valmiina komento, joka tulostaa muuttujan <code>etunimi</code> sisällön. Ohjelma ei toimi, sillä etunimi-nimistä muuttujaa ei ole luotu. Luo muuttuja <code>etunimi</code> ja aseta sen sisällöksi merkkijono, joka on etunimesi.
  <% end %>

  <div data-type='tmc-exercise' data-id='5026'></div>

  <h2>Tekstin yhdistäminen</h2>

  <p>
    Merkkijonoja voidaan yhdistellä toisiinsa. Se onnistuu ketjuttamalla halutut merkkijonot <code>+</code>-operattorilla. Esimerkiksi kaikki alla olevat koodinpätkät tulostavat: "Hei, mitä kuuluu?".
  </p>

  <pre><code class="javascript">var hei = "Hei"
var kuuluu = ", mitä kuuluu"
var mitaKuuluu = hei + kuuluu
console.log(mitaKuuluu)</code></pre>

  <% partial 'partials/exercise', locals: { name: 'Lauseen muodostaminen', additional_content: '<strong>Huom</strong>: Et saa kirjoittaa sanoja suoraan vaan joudut käyttämään muuttujia <code>a</code> ja <code>b</code>.' } do %>
    Tehtäväpohjassa on laitettu muuttujiin <code>a</code> ja <code>b</code>. Yhdistele muuttujia <code>+</code>-operaattorilla muuttujaan <code>yhdistetty</code> siten, että tehtävässä tulostuu järkevä lause. Sinun on siis pakko käyttää muuttujia <code>a</code> ja <code>b</code>.
  <% end %>

  <div class="code-area" data-type='tmc-exercise' data-id='5007'></div>

  <p>Saman tulostuksen voi saada aikaan erilaisilla tavoilla.</p>

  <pre><code class="javascript">var hei = "Hei"
var kuuluu = ", mitä kuuluu"
console.log(hei + kuuluu)</code></pre>

  <pre><code class="javascript">console.log("Hei" + ", mitä kuuluu?")</code></pre>


  <p>
    Voimme yhdistellä niin monta asiaa kuin haluamme yhdellä rivillä. Voimme esimerkiksi yhidistellä 3, 4 tai 5 eri merkkijonoa toisiinsa ketjuttamalla ne peräkkäin. Esimerkiksi alla oleva esimerkki tulostaa: "Tämän päivän sää on ehkä poutainen".
  </p>

  <pre><code class="javascript">var paivan = "Tämän päivän "
var saa = "sää on "
var poutainen = " poutainen "
var yhdistetty = paivan + saa + "ehkä" + poutainen
console.log(yhdistetty)</code></pre>

  <% partial 'partials/exercise', locals: { name: 'Pitkän lauseen muodostaminen', additional_content: '<strong>Huom</strong>: Et saa kirjoittaa sanoja suoraan vaan joudut käyttämään muuttujia <code>a</code>, <code>b</code> ja <code>c</code>.' } do %>
    Tehtäväpohjassa on laitettu muuttujiin sanoja. Yhdistele muuttujia muuttujaan <code>yhdistetty</code> siten, että tehtävässä tulostuu järkevä lause.
  <% end %>

  <div class="code-area" data-type='tmc-exercise' data-id='5009'></div>

  <p>Tyypillinen virhe merkkijonojen yhdistämisessä on se, että unohtaa <code>+</code>-operaattorin jostain kohdasta ohjelmakoodia. Esimerkiksi alla oleva koodi ei toimi.</p>

  <pre><code class="javascript">var paivan = "Tämän päivän "
var saa = "sää on "
var poutainen = " poutainen "
var yhdistetty = paivan + saa + "ehkä" poutainen
console.log(yhdistetty)</code></pre>


  <h2>Numeromuuttujat</h2>

  <p>
    Muuttujiin voidaan tallentaa muutakin kuin merkkijonoja. Eräs hyödyllisimmistä asioista, joita voidaan laittaa muuttujiin ovat numerot. Numeroiden etu merkkijonoihin on se, että niillä voidaan helposti tehdä laskutoimituksia ja niiden suuruutta on helppo vertailla keskenään.
  </p>

  <p>
    Numeromuuttujat luodaan samaan tyyliin kuin merkkijonomuuttujat, paitsi lainausmerkkikohdan tilalle kirjoitetaan haluttu numero <i>ilman</i> lainausmerkkejä. Esimerkiksi alla olevassa esimerkissä luodaan numeromuuttuja nimeltä <code>parasNumero</code>, jonka arvo on <code>3</code>.
  </p>

  <pre><code class="javascript">var parasNumero = 3</code></pre>

  <% partial 'partials/hint' do %>
    Seuraavissa tehtävissä iso osa ohjelman koodista on piilossa. Näkyvissä on vain ne osat, joita sinun täytyy muokata.
  <% end %>

  <% partial 'partials/exercise', locals: { name: 'Muuttujien kokeilemista' } do %>
    <p>
      Kokeile ajaa tehtävä. Huomaat, että näytölle avautuu peli, joka on hieman hankala.
    </p>

    <p>Tehtäväpohjassa on määritetty kaksi muuttujaa, jotka määräävät pelihahmon ja rubiinien liikkumisnopeuden. Muuta muuttujien arvoja siten, että pelistä tulee helpompi.</p>
  <% end %>

  <div class="code-area" data-type='tmc-exercise' data-id='5027'></div>

  <% partial 'partials/exercise', locals: { name: 'Muuttujien korjaaminen', additional_content: '<strong>Odotettu vastaus: </strong> Peli toimii samalla tavalla kuin ensimmäisessä tehtävässä.' } do %>
    Tässä tehtävässä pääset muokkaamaan ensimmäisestä tehtävästä tuttua peliä. Pelissä kuitenkin muuttujien arvot ovat hassusti. Korjaa peli niin, että rubiineja voi kerätä. Korjaa myös liikkuminen toimimaan järkevästi.
  <% end %>

  <div class="code-area" data-type='tmc-exercise' data-id='5025'></div>

  <h2>Numeroilla laskeminen</h2>

  <p>Merkkijonoilla voi yrittää tehdä laskuja, mutta niiden tulokset ovat harvoin haluttuja. Esimerkiksi alla oleva esimerkki tulostaisi: <code>12</code>, koska merkkijonoja yhdistellessä merkkijot laitetaan aina peräkkäin.</p>

  <pre><code class="javascript">var eka = "1"
var toka = "2"
console.log(eka + toka)</code></pre>

  <p>
    Jos laskemme saman laskutoimituksen luvuilla, tulostuu oikea vastaus <code>3</code>.
  </p>

  <pre><code class="javascript">var eka = 1
var toka = 2
console.log(eka + toka)</code></pre>

  <p>
    Numeroita voidaan laskea yhteen <code>+</code>-merkillä, niitä voidaan vähentää toisistaan <code>-</code>-merkillä, niitä voidaan kertoa <code>*</code>-merkillä ja niitä voidaan jakaa <code>/</code>-merkillä.
  </p>

  <% partial 'partials/exercise', locals: { name: 'Laskutoimituksen korjaus', additional_content: '<strong>Huom</strong>: Älä kirjoita lukuja suoraan vaan käytä muuttujia <code>a</code> ja <code>b</code>.' } do %>
    Alla olevassa tehtäväpohjassa on luotu kaksi muuttujaa <code>a</code> ja <code>b</code>. Tehtäväpohjassa olevan tulostuskomennon sisällä tehdään laskutoimitus. Korjaa laskutoimitus sellaiseksi, että tulokseksi tulee <code>12</code>.
  <% end %>

  <div data-type='tmc-exercise' data-id='5032'></div>

  <p>
    Muuttujia voidaan käyttää niin monta kertaa kun halutaan. Esimerkiksi alla oleva koodi tulostaa: <code>6</code>.
  </p>

  <pre><code class="javascript">var a = 2
console.log(a + a + a)</code></pre>

  <% partial 'partials/exercise', locals: { name: 'Operaatioden harjoittelua', additional_content: '<strong>Huom</strong>: Et saa kirjoittaa lukuja suoraan vaan joudut käyttämään muuttujia <code>a</code> ja <code>b</code>.' } do %>
    Alla olevassa tehtäväpohjassa on luotu kaksi muuttujaa <code>a</code> ja <code>b</code>. Tee tulostuskomennon sisään joku laskutoimitus, jonka tulos on <code>37</code>. Voit käyttää muuttujia niin monta kertaa kun haluat.
  <% end %>

  <div class="code-area" data-type='tmc-exercise' data-id='5008'></div>

  <p>
    Numeromuuttujiin voidaan myös lisätä suoraan lukuja. Alla oleva esimerkki tulostaa luvun 12.
  </p>

  <pre><code class="javascript">var a = 2
console.log(a + 10)</code></pre>

  <% partial 'partials/exercise', locals: { name: 'Luvun lisääminen suoraan muuttujaan' } do %>
    Alla olevassa tehtäväpohjassa on luotu muuttuja <code>a</code>. Tehtäväpohjassa on myös tulostuskomento, missä tulostetaan laskutoimituksen <code>a * 2</code> tulos. Muuta luku <code>2</code> sellaiseksi luvuksi, että laskutoimituksen tulokseksi tulee <code>45</code>.
  <% end %>

  <div data-type='tmc-exercise' data-id='5033'></div>

  <h2>Uusi arvo muuttujaan</h2>

  <p>
    Kun muuttuja on luotu <code>var</code>-sanan avulla, sen arvoa voidaan vielä myöhemmin muutttaa. Uuden arvon asettaminen muuttujalle onnistuu koodilla <code>muuuttujanNimi = uusiArvo</code>. Alla olevassa esimerkissä asetetaan muuttujalle uusi arvo. Esimerkki tulostaa <code>14</code>.
  </p>

  <pre><code class="javascript">var a = 6
a = 14
console.log(a)</code></pre>

  <% partial 'partials/exercise', locals: { name: 'Muuttujalle uusi arvo' } do %>
    Alla olevassa tehtäväpohjassa on luotu muuttuja <code>a</code>. Aseta sen uudeksi arvoksi <code>42</code>.
  <% end %>

  <div data-type='tmc-exercise' data-id='5035'></div>

  <p>
    Ohjelmoinnissa tulee usein vastaan tilanne, jossa haluame muuttaa nykyistä arvoa siten, että uusi arvo tuleekin osittain muuttujan nykyisestä arvosta. Esimerkiksi jos meillä on muuttuja <code>a</code>, jonka arvo on 2, voimme haluta kasvattaa <code>a</code>:n arvoa <code>5</code>:llä. Tämä onnistuu käyttämällä muuttujan nimeä uudestaan arvoa asetettaessa. Alla oleva esimerkki nostaa <code>a</code>:n arvoa lukuun <code>7</code>.
  </p>

  <pre><code class="javascript">var a = 2
a = a + 5</code></pre>

  <% partial 'partials/exercise', locals: { name: 'Muuttujan arvon kasvatus' } do %>
    Alla olevassa tehtäväpohjassa on luotu muuttuja <code>a</code>. Kasvata sen arvoa <code>214</code>-kertaiseksi.
  <% end %>

  <div data-type='tmc-exercise' data-id='5031'></div>
</div>

<p>Valmista? Jatka seuraavaksi <%= link_to 'listoihin', 'listat.html' %>.</p>
