---
title: Piirtäminen
exercise_page: true
---
<h1>Piirtäminen</h1>

<h2>Koordinaatisto</h2>
<div class="chapter">

  <div class="multiple-columns narrow">
    <div>
      <p>
        Ohjelmoinnissa voidaan joutua piirtämään kuvioita näytölle. Kuvioiden piirto hoituu usein käyttämällä matematiikasta tuttua koordinaatistoa.
      </p>
      <p>
        Ohjelmoinnissa koordinaatisto eroaa matematiikasta jonkin verran. Ensinnäkin, yleensä koordinaatistossa ei käytetä negatiivisia arvoja, vaan x:n ja y:n mahdolliset arvot alkavat numerosta 0. Mutta tärkeämpi ero on, että ohjelmoinnissa origo on vasemmassa yläkulmassa eli x- ja y-akseleiden nollakohta sijaitsee vasemmassa yläkulmassa eikä vasemmassa alakulmassa. Y-akseli kulkee vasemmasta yläkulmasta kohti vasenta alakulmaa ja x-akseli kulkee vasemmasta yläkulmasta kohti oikeaa yläkulmaa. Jos piirtoalustan koko on 800x600, vasemman yläkulman koordinaatit olisivat siis (0, 0) ja oikean alakulman koordinatit olisivat (800, 600).
      </p>
    </div>
    <%= image_tag './images/koordinaatisto.png', class: 'coordinates' %>
  </div>

  <h3>Pisteiden asettelu koordinaatistoon</h3>

  <% partial 'partials/exercise', locals: { name: 'Pisteiden asettelu koordinaatistoon', image: './images/naama.png' } do %>
    Tehtäväpohjassa on olemassa funktio <code>luoPala(x, y)</code>, joka sijoittaa palan pelialueelle annettuihin koordinaatteihin. Esimerkiksi kutsu <code>luoPala(5, 2)</code> luo uuden palan koordinaatteihin <code>(5, 2)</code>. Kutsu funktiota <code>luoPala()</code> monta kertaa niin, että pelialueelle piirtyy vierellä oleva kuvio.
  <% end %>

<div data-type='tmc-exercise' data-id='2813'></div>

</div>

<h2>Liikkuminen</h2>
<div class="chapter">
  <p>
    Olisi kiva, jos voisimme piirtää asiota.
  </p>

  <% partial 'partials/exercise', locals: { name: 'Piirtäminen ohjelmallisesti'} do %>
    Kokeile antaa ohjelmalle komentoja <code>ylos()</code>, <code>alas()</code>, <code>oikealle()</code> ja <code>vasemmalle()</code> ja piirrä niiden avulla kuvioita piirtoalustalle. Voit kirjoittaa komennot funktion <code>lueKomennot()</code> sisälle.
  <% end %>

  <div data-type='tmc-exercise' data-id='2804'></div>

  <% partial 'partials/exercise', locals: { name: 'Neliön piirtäminen', image: './images/nelio.png'} do %>
    <strong>Tehtävä</strong>: Piirrä kuvassa olevaa esimerkkiä vastaava kuvio käyttämällä edellisen tehtävän komentoja.
  <% end %>

  <div data-type='tmc-exercise' data-id='2805'></div>

  <% partial 'partials/exercise', locals: { name: 'Portaiden piirtäminen', image: './images/portaat.png'} do %>
    Piirrä esimerkkiä vastaava kuva edellisen tehtävän komennoilla.
  <% end %>

  <div data-type='tmc-exercise' data-id='2806'></div>

  <% partial 'partials/exercise', locals: { name: 'Muurin piirtäminen', image: './images/muuri.png'} do %>
    Piirrä esimerkkiä vastaava kuva edellisen tehtävän komennoilla.
  <% end %>

  <div data-type='tmc-exercise' data-id='2807'></div>

</div>

<p>Valmista? Jatka seuraavaksi <%= link_to 'toistoon', 'toisto.html' %>.</p>
