---
title: Viikko 2
exercise_page: true
---

<div id='container'>

  <a href="#" class='tmc-exercise-logout' title='Logout'>Logout</a>

  <h1>Tehtäväsarja 2</h1>

  <h2>Koordinaatisto</h2>
  <div class="chapter">
    <p>
      Oletetaan, että jokainen mahdollinen piste piirtoalustalla voidaan kuvata koordinaatteina. Tämä koordinaatisto ei kuitenkaan ole tavanomainen koordinaatisto, sillä akselit eivät alakkaan vasemmasta alakulmasta, vaan vasemmasta yläkulmasta! Y-akseli kulkee vasemmasta yläkulmasta kohti vasenta alakulmaa ja x-akseli kulkee vasemmasta yläkulmasta kohti oikeaa yläkulmaa. Vasemman yläkulman koordinaatit olisivat siis (0, 0) ja oikean alakulman koordinatit olisivat (800, 600).
    </p>
  </div>

  <h2>Piirtäminen</h2>
  <div class="chapter">

    <h3>Piirtäminen näppäimistöllä</h3>

    <p>
      Kokeile piirtää tässä tehtävässä jotakin luovaa painamalla nuolinäppäimiä.
    </p>

    <div data-type='tmc-exercise' data-id='2803'></div>

    <h3>Vanhentunut piirtäminen</h3>
    <p>
      Tällä viikolla harjoitellaan piirtämistä. Meillä on käytössämme pieni apuväline, joka auttaa pirtämään kuviota. Ohjelma aloittaa piirtämisen tietystä pisteestä ja voit ohjata piirtosuuntaa komennoilla: "up()", "down()", "right()" ja "left()".
    </p>

    <p>
      Seuraavassa tehtävässä on esimerkki millaisia yksinkertaisia kuviota voit piirtää ohjelmalla. Yritä piirtää shakkiruudukko!
    </p>

    <div data-type='tmc-exercise' data-id='2705'></div>

    <p>
      Valitettavasti kuitenkin näin yksinkertaisilla komennoilla piirtäminen jää melko surulliseksi yritykseksi. Otetaan vähäsen monimuotoisemmat piirtovälineet käyttöön.
    </p>

    <p>
      Seuraavassa tehtävässä meillä on käytössä uusi piirtometodi: "moveTo(x, y)". Metodi piirtää viivan annettuihin koordinaatteihin. Tehtävänpoja piirtää kolmion. Yritä ymmärtää miten se syntyy. Osaatko piirtää talon?
    </p>

    <h3>Toistolauseet piirtämisessä</h3>

    <p>
      Toistolauseet soveltuvat erinomaisesti piitämiseen. Ne helpottavat huikeasti esimerkiksi erilaisten kuvioden piirtämistä.
    </p>

    <div data-type='tmc-exercise' data-id='2706'></div>
  </div>
</div>
