---
title: Toisto
exercise_page: true
order: 7
---
<h1>Toisto</h1>

<div class="chapter">

  <p>
    Useassa tilanteessa olisi kiva, jos voisimme tehdä jotakin toimenpidettä useasti. Esimerkiksi, jos meillä on paljon lukuja olisi kivaa jos voisimme laskea vaikka niiden keskiarvon.
  </p>

  <p>
    Voimme toistaa samaa asiaa jokaiselle listan alkiolle <code>forEach</code>-toistolauseella. Se suorittaa jonkin funktion erikseen jokaiselle listan alkiolle. <code>forEach</code> toistolausetta voidaan käyttää seuraavalla kirjoittamalla: <code>lista.forEach(suoritettavanFunktionNimi)</code>.
  </p>

  <pre><code class="javascript">var sanalista = ["liian", "monta", "sanaa"]
function tulostaSana(sana) {
  console.log(sana)
}
sanalista.forEach(tulostaSana)</code></pre>

  <p>
    Yllä olemme ensiksi määritelleet taulukon, sitten funktion, joka pitäisi toistaa jokaiselle listan sisällä olevalle alkiolle ja lopulta olemme teemme toiston <code>forEach</code>-lauseella. Esimerkki tulostaa:
  </p>

  <pre><code class="javascript">liian
monta
sanaa</code></pre>

  <% partial 'partials/exercise', locals: { name: 'Toisto listalla' } do %>
    Alla olevassa tehtäväpohjassa on määritetty lista ja funktio, jota olisi tarkoitus toistaa jokaiselle listan alkiolle. Tee näin <code>forEach</code>-toistolauseella.
  <% end %>

  <div data-type='tmc-exercise' data-id='20994'></div>

  <% partial 'partials/exercise', locals: { name: 'Listan summa' } do %>
    Laske listan alkioiden summa käyttämällä <code>forEach</code>-silmukkaa ja valmista <code>summa</code>-muuttujaa. Tehtäväpohjassa on luotu valmiiksi funktio <code>summaa</code>, jota kutsutaan <code>forEach</code>:illa.
  <% end %>

  <div data-type='tmc-exercise' data-id='20992'></div>

  <% partial 'partials/exercise', locals: { name: 'Listan keskiarvo' } do %>
    Laske listan alkioiden keskiarvo. Keskiarvon laskemisessa on hyötyä edellisistä kahdesta tehtävistä. Keskiarvo lasketaan jakamalla kaikkien alkioden summa alkioden lukumäärällä.
  <% end %>

  <div data-type='tmc-exercise' data-id='20991'></div>

</div>

<%= partial 'partials/next_chapter', locals: { name: 'matopeliin', target: 'matopeli.html' } %>
