---
title: Tulostaminen
exercise_page: true
order: 1
---

<h1>Tulostaminen</h1>

<div class="chapter">
  <p>
    Eräs tärkeimmistä ohjelmoinnin perustaidoista on oppia tulostamaan tekstiä näytölle. Javascriptissä tulostus onnistuu komennolla <code>console.log("Tulostettava asia")</code>.
    Lainausmerkit tulostettavan lauseen ympärillä tarkoittavat, että tulostettava asia on tekstiä, joka tulostetaan sellaisenaan, eikä esimerkiksi komento.
  </p>

  <p>
    Ohjelmassa oleva rivi <code>// Kirjoita ohjelmasi tähän alle</code> on kommenttirivi, jota tietokone ei ota huomioon ohjelmaa suoritettaessa. Alla olevassa esimerkissä on kommenttirivi ja tulostus. Esimerkki tulostaa: <code>Kanit on söpöjä</code>.
  </p>

  <pre><code class="javascript">// Tämä on kommentti ja alla on tulostuskomento
console.log("Kanit on söpöjä.")</code></pre>

  <% partial 'partials/exercise', locals: { name: 'Nimen tulostaminen', additional_content: '<strong>Vihje</strong>: Kun kirjoitat tulostuskomennon ja käynnistät ohjelman, alle pitäisi ilmestyä valkoinen laatikko, johon on tulostunut nimesi.' } do %>
    Lisää kommenttirivin alle komento, joka tulostaa nimesi ja suorita ohjelma. Ohjelman tulostus voi olla vaikka: <code>Essi Esimerkki</code>.
  <% end %>

  <div data-type='tmc-exercise' data-id='2779'></div>

  <h2>Useasti tulostaminen</h2>

  <p>
    Tulostaminen voidaan tehdä niin monta kertaa kuin halutaan. Yksi tulostuskomento tulostaa aina yhden rivin tekstiä. Jos kirjoitamme tulostuskomennon useammin, tulostuu useampia rivejä. Tulostettavat rivit tulostuvat komentojen järjestyksessä ylhäältä alaspäin.
  </p>

  <p>Esimerkki:</p>

  <pre><code class="javascript">console.log("Ensimmäinen rivi.")
console.log("Toinen rivi.")
console.log("Kolmas rivi.")</code></pre>

  <p>Yllä oleva koodi tulostaa:</p>

  <pre><code>Ensimmäinen rivi.
Toinen rivi.
Kolmas rivi.</code></pre>

<% partial 'partials/exercise', locals: { name: 'Usean rivin tulostaminen' } do %>
  Kirjoita ohjelma, jonka tulostus on seuraavanlainen:
  <pre><code class="javascript">Hei maailma!
(Ja kaikki sen ihmiset)
</code></pre>
<% end %>

 <div data-type='tmc-exercise' data-id='2830'></div>

</div>

<div class="chapter">
  <h2>Kuvioiden tulostaminen</h2>

  <p>
    Voimme tulostaa kaikenlaista teksitä, mutta se käy pidemmän päälle vähäsen tylsäksi. Onneksi voimme käyttää tulostusta mielenkiintoisten kuvioden piirtämiseen. Alla on esimerkki yksinkertaisen kuvion tulostaminsesta.
  </p>

  <pre><code>console.log("     #")
console.log("   # #")
console.log("  #  #")
console.log(" #   #")
console.log("######")</code></pre>
</div>

  <p>Yllä oleva koodi tulostaa tämänlaisen kuvion:</p>

  <pre><code class="javascript small-line-height">     #
   # #
  #  #
 #   #
######</code></pre>

  <p>Hienoa! Tulostuskomennossa käytetyt risuaidat ja tarkasti sijoitetut välilyönnit loivat meille kolmion. Tällä tavalla voimme piirtää vaikka minkälaisia kuvioita.</p>

  <% partial 'partials/exercise', locals: { name: 'Ristin tulostaminen' } do %>
    Kirjoita ohjelma, joka tulostaa tämän näköisen ristin:
    <pre><code class="javascript small-line-height"> #
###
 #</code></pre>
  <% end %>

  <div data-type='tmc-exercise' data-id='4984'></div>

  <% partial 'partials/hint' do %>
    Tehtäviä kannattaa kokeilla useasti painamalla Käynnistä-painiketta.
  <% end %>


  <% partial 'partials/exercise', locals: { name: 'Kallellaan oleva ruutu' } do %>
    Tehdään seuraavaksi hieman monimutkaisempi kuvio. Tulosta alla oleva kallistunut ruutu.
    <pre><code class="javascript small-line-height">  x
 xxx
xxxxx
 xxx
  x</code></pre>
  <% end %>

  <div data-type='tmc-exercise' data-id='4983'></div>

  <p>Valmista? Jatka seuraavaksi <%= link_to 'muuttujiin', 'muuttujat.html' %>.</p>
</div>
